policy_module(keylime, 1.0.0)

########################################
#
# Declarations
#

attribute keylime_domain;

type keylime_agent_t;
keylime_use_keylime_domain(keylime_agent_t)
type keylime_agent_exec_t;
init_daemon_domain(keylime_agent_t, keylime_agent_exec_t)

type keylime_server_t;
keylime_use_keylime_domain(keylime_server_t)
type keylime_server_exec_t;
init_daemon_domain(keylime_server_t, keylime_server_exec_t)

type keylime_log_t;
logging_log_file(keylime_log_t)

type keylime_var_lib_t;
files_type(keylime_var_lib_t)

type keylime_tmp_t;
files_tmp_file(keylime_tmp_t)
